
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: "Lato", sans-serif;
    background-color:rgb(42, 46, 46);
  }
  
  .sidenav {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0px;
   
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;

  }
  
 .ar-object{
    border: 2px solid #fff;
    border-radius:2px;
    margin: 2px;
 }


  .sidenav a:hover {
    color: #f0f0f1;
  }
  
  .sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
.images{

    border-radius: 50%;
  }


.img{
    border-radius: 50%;
      height: 100px;
      width: 100px;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  @media (max-width: 768px) {
    .sidenav {
       width: 100%;
     }
   }
   
   @media (min-width: 769px) {
    .sidenav {
       width: 250px; /* Adjust this value based on your design */
     }
   }

  #place-button {
    position: absolute;
    bottom: 20px; /* Adjust the bottom position as needed */
    left: 50%; /* Position the button at the center horizontally */
    transform: translateX(-50%); /* Center the button horizontally */
    width: 100px;
    height: 35px;
    display: none;
    
}
