
*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  background-color:#010101;
  ;


}
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #010101;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0px;
  justify-content: center;
  align-items: center;

}

.sidenav a {
  gap: 20px;
  padding: 8px 8px 8px 14px;
  text-decoration: none;
  font-size: 25px;
  color: #f5f5f5;
  display: block;
  top: 10px;

  margin-top: 20px;
  transition: 0.3s;

}
.columns {
  position: relative;
  margin-left: 10px;
  margin-top: 12px;
  column-count: 3;
  column-gap: 5px;
  width: fit-content;
  /* column-rule: 2px solid #a4a898; */
  font-size: 12px;
}



.ar-object{
  
 margin-top: 5px;
  
  display: flex;
}


.sidenav a:hover {
  color: #cfe339bc;
 
}

.sidenav .closebtn {
  position: relative;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.items{
margin-top: 15px;
}

.images{

  border-radius: 50%;
}


.img{
  border-radius: 50%;
  border: 3px solid #e4e72e;
 
    height: 100px;
    width: 100px;
}

.description{
  font-size: 15px;
  margin-left: 5px;
  margin-top: 12px;
  width: 70%;
 
}
.description p
{
  width: 100%;
}
.images span{
  display: block;
}

@media screen and (max-width: 450px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 18px;}
   h2{font-size: 25px;}
   .description p { display: block;}
   .img{
    border-radius: 50%;
    border: 3px solid #e4e72e;
   
      height: 100px;
      width: 100px;
      margin-top: 15px;
  }
  .columns{
    margin-top: 8px;
    margin-left: 10PX;
  }
  .columns P{
    font-size: 12px;
    text-align: center;
  }
  .columns span{
    font-size: 10px;
    margin-left: 8px;
    text-align: center;
  }
  .images span{
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
}
 



 
/* Additional Media Query for Larger Screens */
@media screen and (min-width: 1024px) {
.sidenav {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: #010101;
  overflow-x: hidden;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  }
 .sidenav a {
    font-size: 25px;
  }
 .description{
    width:800px;
    font-size: 30px;
  }
.columns {
  margin-top: 30px;
  margin-left: 8px;
  width: fit-content;
  }
 .columns p {
      font-size: 30px;
      text-decoration: none; /* Ensure paragraphs within columns don't underline */
  }
  .columns span{
    font-size: 20px;
    text-decoration: none; /* Ensure paragraphs within columns don't underline */
}
  /* Add any other adjustments needed for larger screens */
}
